.ScanButton {
    min-width: 320px;
    height: 60px;
    background-color: var(--green-color);
    font-size: 1.2rem;
    color: white;   
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.ScanButton:hover {
    background-color: var(--green-dark);
}