.scanBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    gap: 1rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    max-width: 360px;
    height: auto;
    min-height: 200px;
}

.Welcome {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: var(--text-main);
}

.WelcomeText {
    font-size: 1.1em;
    text-align: center;
    color: var(--text-secondary);
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}
